/*
	01. Fontes externas
	02. Reset do CSS
	03. Geral
	04. Cabeçalho
	05. Trabalhos
	06. Informações
	07. Sub-páginas
	08. Rodapé
	09. Responsividade
*/

/* --- 01. Fontes externas --- */
@import url(https://fonts.googleapis.com/css?family=Quicksand:300,500,700);
@import url(https://fonts.googleapis.com/css?family=Raleway:400,600);
@import url("../css/selecao-portfolio.css");

/* --- 02. Reset do CSS --- */
html, body, div, nav, header, section, footer, h1, h2, p, span, small, ul, li, a, a:hover, input {
	margin: 0;
	border: 0;
	padding: 0;
	color: inherit;
	font-size: 100%;
	font: inherit;
	line-height: 1;
	list-style: none;
	text-decoration: none;
	vertical-align: baseline;
	-webkit-box-sizing: border-box;
	-moz-box-sizing: border-box;
	box-sizing: border-box;
}

/* --- 03. Geral --- */
body {
	background-color: #50cbd8;
	font: 400 16px 'Raleway', sans-serif;
	text-align: left;
	color: #878787;
}

.site-container {
	width: 100vw;
	padding-top: 5.3em;
	background-color: #FFF;
}

.wrapper {
	display: flex;
	display: -webkit-flex;
	flex-flow: row wrap;
	justify-content: space-between;
	align-content: space-between;
	-webkit-flex-flow: row wrap;
	-webkit-justify-content: space-between;
	-webkit-align-content: space-between;
	align-items: center;
	justify-content: center;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}

.negative, .negative h1 {
	color: #FFF;
}

.negative a:hover{
	color: #50cbd8;
}

.hyphen {
	-webkit-hyphens: auto;
	-moz-hyphens: auto;
	-ms-hyphens: auto;
	hyphens: auto;
}

h1 {
	padding: 40px 40px 5px 40px;
	font: 300 2.3em 'Quicksand', sans-serif;
	color: #50cbd8;
	letter-spacing: 1px;
}

p, li {
	padding: 5px 40px;
	line-height: 1.3em;
	letter-spacing: 0.05em;
}

small, li {
	font-weight: 600;
}

a:hover {
	color: #1a7f8a;
}

/* --- 04. Cabeçalho --- */
header {
	position: absolute;
	padding: 1.6em 40px;
	z-index: 3;
	width: 100vw;
	background-color: rgba(255,255,255,0.95);
}

h2 {
	font: 500 1.7em 'Quicksand', sans-serif;
	letter-spacing: 2px;
	text-transform: uppercase;
}

header ul {
	padding-top: 0.7em;
}

header li {
	padding: 0 0 0 40px;
	display: inline;
	font: 700 1em 'Quicksand', sans-serif;
}

#language {
	position: relative;
	font-size: 1em;
}

#language span {
	display: none;
}

#language:hover span {
	position: absolute;
	display: block;
	top: 2em;
	right: 0.2em;
	padding: 0.5em;
	width: 150px;
	font: 400 0.75em 'Raleway', sans-serif;
	color: #FFF;
	background-color: #1a7f8a;
	opacity: 0.7;
	text-align: center;
}

.burger {
	position: relative;
	z-index: 5;
	padding-top: 0.1em;
	height: 1.2em;
	width: 1.2em;
	cursor: pointer;
	-webkit-transition: opacity .25s ease;
	-moz-transition: opacity .25s ease;
	-o-transition: opacity .25s ease;
	-ms-transition: opacity .25s ease;
	transition: opacity .25s ease;
}

.burger span {
	position: relative;
	margin-top: 0.25em;
	height: 0.12em;
	width: 1.2em;
	background-color: #878787;
	float: left;
	-webkit-transition: all .35s ease;
	-moz-transition: all .35s ease;
	-o-transition: all .35s ease;
	-ms-transition: all .35s ease;
	transition: all .35s ease;	
}

.burger.active .top {
	background-color: #FFF;
	-webkit-transform: translateY(0.3em) translateX(0) rotate(45deg);
	-moz-transform: translateY(0.3em) translateX(0) rotate(45deg);
	-o-transform: translateY(0.3em) translateX(0) rotate(45deg);
	-ms-transform: translateY(0.3em) translateX(0) rotate(45deg);
	transform: translateY(0.3em) translateX(0) rotate(45deg);
}

.burger.active .middle {
  opacity: 0;
}

.burger.active .bottom {
	background-color: #FFF;
	-webkit-transform: translateY(-0.45em) translateX(0) rotate(-45deg);
	-moz-transform: translateY(-0.45em) translateX(0) rotate(-45deg);
	-o-transform: translateY(-0.45em) translateX(0) rotate(-45deg);
	-ms-transform: translateY(-0.45em) translateX(0) rotate(-45deg);
	transform: translateY(-0.45em) translateX(0) rotate(-45deg);
}

.body-hidden {
	overflow: hidden;
}

.nav-mobile {
	position: fixed;
	top: 0;
	left: 0;
	width: 100vw;
	height: 100vh;
	visibility: hidden;
	-webkit-transition: visibility .35s, width .35s;
	-moz-transition: visibility .35s, width .35s;
	-o-transition: visibility .35s, width .35s;
	-ms-transition: visibility .35s, width .35s;
	transition: visibility .35s, width .35s;		  
	z-index: 4;
}

.nav-mobile:before {
	position: absolute;
	top: -100vh;
	left: 0;
	width: 100vw;
	height: 100vh;
	content: '';
	background-color: #50cbd8;
	-webkit-transition: top .35s ease;
	-moz-transition: top .35s ease;
	-o-transition: top .35s ease;
	-ms-transition: top .35s ease;
	transition: top .35s ease;	
}

.nav-mobile.open, .nav-mobile.close {
	visibility: visible;
	height: 100vh;
}

.nav-mobile.open:before, .nav-mobile.close:before {
	top: 0;
}

.nav-mobile.open li {
	-webkit-animation: fadeInTop .5s ease forwards;
	-moz-animation: fadeInTop .5s ease forwards;
	-o-animation: fadeInTop .5s ease forwards;
	-ms-animation: fadeInTop .5s ease forwards;
	animation: fadeInTop .5s ease forwards;
	-webkit-animation-delay: .35s;
	-moz-animation-delay: .35s;
	-o-animation-delay: .35s;
	-ms-animation-delay: .35s;
	animation-delay: .35s;
}

@-webkit-keyframes fadeInTop {
  0% {
	opacity: 0;
	top: -20%;
  }
  100% {
	opacity: 1;
	top: 0;
  }
}

@-moz-keyframes fadeInTop {
  0% {
	opacity: 0;
	top: -20%;
  }
  100% {
	opacity: 1;
	top: 0;
  }
}

@-0-keyframes fadeInTop {
  0% {
	opacity: 0;
	top: -20%;
  }
  100% {
	opacity: 1;
	top: 0;
  }
}

@-ms-keyframes fadeInTop {
  0% {
	opacity: 0;
	top: -20%;
  }
  100% {
	opacity: 1;
	top: 0;
  }
}

@keyframes fadeInTop {
  0% {
	opacity: 0;
	top: -20%;
  }
  100% {
	opacity: 1;
	top: 0;
  }
}

.nav-mobile.open li:nth-of-type(2) {
	-webkit-animation-delay: .45s;
	-moz-animation-delay: .45s;
	animation-delay: .45s;
}

.nav-mobile.open li:nth-of-type(3) {
	-webkit-animation-delay: .55s;
	-moz-animation-delay: .55s;
	animation-delay: .55s;
}

.nav-mobile.open li:nth-of-type(4) {
	-webkit-animation-delay: .65s;
	-moz-animation-delay: .65s;
	animation-delay: .65s;
}

.nav-mobile.open li:nth-of-type(5) {
	-webkit-animation-delay: .75s;
	-moz-animation-delay: .75s;
	animation-delay: .75s;
}

.nav-mobile ul {
	position: relative;
	padding: 5vh 40px;
	display: inline-block;
}

.nav-mobile ul li {
	display: block;
	padding-left: 0;
	position: relative;
	opacity: 0;
	height: 20vh;
	line-height: 20vh;
}

.nav-mobile ul li a {
	font: 300 2.3em 'Quicksand', sans-serif;
	color: #FFF;
	letter-spacing: 1px;
}

.nav-mobile ul li a:hover {
	color: #1a7f8a;
}

#language-mobile {
	height: 10vh;
	font: 500 0.5em 'Quicksand', sans-serif;
}

/* --- 05. Trabalhos --- */
.container-work {
	position: relative;
	background-color: #EEE; 
	overflow: hidden;
}

.work-thumbnail {
	position: relative;
	z-index: 1;
	
}

.work-thumbnail img {
	position: relative;
	display: auto;
	margin: auto;
	top:-10px;
	left: -10px;
	width: 110%;
	height: 110%;
}

.work-cap-container {
	position: absolute;
	bottom: 0;
	width: 100%;
	height: 100%;
	z-index: 2;
	background-color: rgba(0,0,0,0.7);
	display: flex;
	visibility: hidden;
}

.container-work:hover .work-cap-container {
	background-color: rgba(0,0,0,0.5);
	visibility: visible;
}

.container-work:hover .work-thumbnail img {
	-webkit-filter: blur(7px);
	-moz-filter: blur(7px);
	-o-filter: blur(7px);
	-ms-filter: blur(7px);
	filter: blur(7px);
}

.work-cap-container .work-cap {
	padding-bottom: 35px;
	display: inline-block;
	align-self: flex-end;
}

.work-cap p small {
	font-weight: 400;
}

#works a, #works h1 {
	color: #FFF;
}

/* --- 06. Informações --- */
#infos {
	min-height: 100vh;
}

#infos .container-33 {
	padding: 7.8em 0px 1.3em;
}

.info-images {
	padding: 0 40px;
	width: 100%;
	height: 250px;
}

.info-images img{
	display: block;
	margin: auto;
	width: 250px;
	height: 250px;
}

/* --- 07. Sub-páginas --- */
.sub-page {
	padding-bottom: 40px;
}

.sub-page img {
	padding-top: 40px;
	width: 100%;
	height: 100%;
	display: block;
}

.section-gap {
	padding-bottom: 80px;
}

.image-padded {
	padding-left: 40px;
	padding-right: 40px;
}

.cap {
	width: 100%;
	text-align: center;
	font-size: 0.75em;
}

.slide-container {
	position: relative;
	margin-top: 40px;
	overflow: hidden;
	height: 80vh;
	background-position: top;
}

.side-slide {
	height: 80vh;
}

#slide-2-1 {
	background: url("../images/works/2/hotsite-standup-ecommerce.jpg");
	background-size: cover;
	-webkit-animation: slide-image 60s 2s ease forwards infinite;
	-moz-animation: slide-image 60s 2s ease forwards infinite;
	-o-animation: slide-image 60s 2s ease forwards infinite;
	-ms-animation: slide-image 60s 2s ease forwards infinite;
	animation: slide-image 60s 2s ease forwards infinite;
}

#slide-3-1 {
	background: url("../images/works/3/hotsite-ediretor.jpg");
	background-size: cover;
	-webkit-animation: slide-image 60s 2s ease forwards infinite;
	-moz-animation: slide-image 60s 2s ease forwards infinite;
	-o-animation: slide-image 60s 2s ease forwards infinite;
	-ms-animation: slide-image 60s 2s ease forwards infinite;
	animation: slide-image 60s 2s ease forwards infinite;
}

@-webkit-keyframes slide-image {
	0%, 100% {
		background-position: top;
	}
	50% {
		background-position: bottom;
	}
}

@-moz-keyframes slide-image {
	0%, 100% {
		background-position: top;
	}
	50% {
		background-position: bottom;
	}
}

@-o-keyframes slide-image {
	0%, 100% {
		background-position: top;
	}
	50% {
		background-position: bottom;
	}
}

@-ms-keyframes slide-image {
	0%, 100% {
		background-position: top;
	}
	50% {
		background-position: bottom;
	}
}

@keyframes slide-image {
	0%, 100% {
		background-position: top;
	}
	50% {
		background-position: bottom;
	}
}

.comparison-outter-container {
	position: relative;
}

.comparison-inner-container {
	width: 100%;
	overflow: hidden;
}

.comparison-front {
	width: 100vw;
	position: relative;
	z-index: 2;
}

.comparison-back {
	position: absolute;
	top: 0;
	z-index: 1;
}

input[type=range] {
	position: relative;
	top: 0.5em;
	margin-bottom: 1em;
	width: 100%;
	height: 0.25em;
	appearance: none;
	-webkit-appearance: none;
	-moz-appearance: none;
	background-color: #50cbd8;
}

input[type=range]:focus, input[type=range]:active {
	outline: none;
}

input[type=range]::-webkit-slider-thumb {
	-webkit-appearance: none;
	width: 1em;
	height: 1em;
	border-radius: 1em;
	background-color: #FFF;
}

input[type=range]::-moz-slider-thumb {
	-moz-appearance: none;
	width: 1em;
	height: 1em;
	border-radius: 1em;
	background-color: #FFF;
}

.behance-link {
	padding: 100px 0 40px;
	font: 500 1.5em 'Quicksand', sans-serif;
	text-align: center;
}

#pag404 {
	min-height: 100vh;
}

#pag404 .container-33 {
	padding-top: 60px;
	padding-bottom: 20px;
}

/* --- 08. Rodapé --- */
footer {
	padding: 0.5em 40px 1.5em;
	font-size: 0.75em;
	color: #FFF;
}

/* --- 09. Responsividade --- */
@media (min-width: 768px) {
	.container-work {
		height: 33.33vw;
	}
	.container-work, .container-33 {
		flex: 0 0 33.33%;
		-webkit-flex: 0 0 33.33%;
	}
	.container-50 {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
	}
	.container-66 {
		flex: 0 0 66.66%;
		-webkit-flex: 0 0 66.66%;
	}
	.container-100 {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
	}
	.burger {
		display: none;
	}
}

@media (max-width: 767px) {
	.container-work {
		flex: 0 0 50%;
		-webkit-flex: 0 0 50%;
		height: 50vw;
	}
	.container-33, .container-50, .container-66, .container-100 {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
	}
	.nav-full {
		display: none;
	}
	.side-slide {
		height: auto;
	}
	#pag404 .container-33 {
		padding-top: 0;
		padding-bottom: 40px;
	}
	#pag404 img {
		padding: 7em 15% 0;
		width: 70%;
		height: 70%;
	}
}

@media (max-width: 420px) {
	h2 {
		font-size: 1.2em;
		font-weight: 700;
	}
	.container-work {
		flex: 0 0 100%;
		-webkit-flex: 0 0 100%;
		height: 100vw;
	}
	header, h1, p, li, footer, .info-images, .nav-mobile ul, .image-padded, .cap, .behance-link {
		padding-left: 20px;
		padding-right: 20px;
	}
	.work-cap-container .work-cap {
		padding-bottom: 20px;
	}
	#language-footter {
		display: none;
	}
}