@charset "UTF-8";

@import url(https://fonts.googleapis.com/css?family=Raleway);

body {
	font-family: 'Raleway', sans-serif;
}

section {
	min-height: 100vh;
	height: auto;
	background: #FFF;
	padding-top: 30px;
	padding-bottom: 30px;
}

#home {
	background-color: #222;
	background-image: url("img/home-bg-1.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-attachment: auto;
	background-position: left top;
}

#works .container {
	height: 40vh;
	width: 20%;
	background-repeat: no-repeat;
	background-size: hero;
	background-attachment: auto;
	background-position: left top;
	display: table-cell;
	vertical-align: bottom;
}

#works .thumb-1 {
	background-image: url("img/work-thumb-1-1.jpg");
}

#works .thumb-2 {
	background-image: url("img/work-thumb-2-1.jpg");
}

#works .thumb-3 {
	background-image: url("img/work-thumb-3-1.jpg");
}

#works .thumb-4 {
	background-image: url("img/work-thumb-4-1.jpg");
}

#works .thumb-5 {
	background-image: url("img/work-thumb-5-1.jpg");
}

#works .thumb-6 {
	background-image: url("img/work-thumb-6-1.jpg");
}

#works .thumb-7 {
	background-image: url("img/work-thumb-7-1.jpg");
}

#works .thumb-8 {
	background-image: url("img/work-thumb-8-1.jpg");
}

#works .col-sm-6, #works .col-md-3 {
	padding-left: 0px;
	padding-right: 0px;
}